[Unit]
Description=Maqueta de tren
[Service]
WorkingDirectory=/home/osmc/tren
User=osmc
ExecStart=/home/osmc/tren/start.sh

[Install]
WantedBy=multi-user.target
